@model MVCCourseApplication.Models.Course
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

@using (Html.BeginForm())
{
<div>
    @Html.DisplayFor(Bini => Bini.CourseName)
    @Html.DisplayFor(Bini => Bini.Duration)
    @Html.DisplayFor(Bini => Bini.Remarks)
</div>
    <div>
        Sure you want to delete?
    </div>
    <input type="submit" value="Delete" />
}
